@using Portfolyo_AY.Entities;
@model List<Skill>

@{
    ViewData["Title"] = "Skills";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Skills</h1>
<hr />
<a type="button" class="btn btn-warning" asp-action="AddSkill">Yeni Yetenek Ekle</a>
<br />
@foreach (var item in Model)
{
    <div class="row">
        <div class="mb-2 col-10">
            <span class="skill">@item.SkillTitle <i class="val">@item.SkillValue %</i></span>
            <div class="progress bg-info " style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: @item.SkillValue% ;" aria-valuenow="@item.SkillValue" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-1">
            <a type="button" class="btn btn-success col-12" asp-action="UpdateSkill" asp-route-id="@item.Id">Güncelle</a>
        </div>
        <div class="col-1">
            <a type="button" class="btn btn-danger col-12" asp-action="RemoveSkill" asp-route-id="@item.Id">Sil</a>
        </div>
    </div>
}
